:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;

  /* Others */
  --border-light-cl: #ffffff;
  --btn-radius: 25px;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* reset end */

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}

.undertitle {
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.btn {
  max-width: 180px;
  min-width: 160px;
  min-height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

.btn-theme-dark:hover,
.btn-theme-dark:focus {
  background-color: var(--accent-bg-cl);
}

/**
  |============================
  | Header
  |============================
*/
.header {
  background-color: var(--dark-bg-cl);
}

.header-nav-link,
.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}

/**
  |============================
  | Hero
  |============================
*/
.hero {
  background-color: #191c26;
}

.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.slider-btn {
  min-width: 68px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-light-cl);
  cursor: pointer;
}

.slider-btn.disabled {
  color: var(--grey-cl-60);
  border-color: var(--grey-cl-60);
}

.slider-item:first-child .slider-btn {
  text-align: left;
}

.slider-item:last-child .slider-btn {
  text-align: right;
}

/**
  |============================
  | About
  |============================
*/
.about-rigth-side {
  width: 500px;
}

.about-undertitle {
  margin-bottom: 20px;
}

.about-desc {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}

/**
  |============================
  | Price
  |============================
*/
.price {
  background-color: var(--dark-bg-cl);
}

.price-block {
  margin-bottom: 50px;
}

.price-list {
  width: 585px;
  padding: 30px 40px;
}

.price-item {
  color: var(--grey-cl);
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Альтернативні варіанти запису */
/* .price-item {
  margin-bottom: 20px;
  color: var(--grey-cl);
}

.price-item:last-child {
  margin-bottom: 0;
} */

/* .price-item + .price-item {
  margin-top: 20px;
} */

/**
  |============================
  | Benefits
  |============================
*/
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}

.benefits-right-side {
  width: 500px;
}

/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: #f7f7f7;
}

.team-title {
  margin-bottom: 44px;
}

.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}
/**
  |============================
  | Gallery
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}
/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  background-color: var(--dark-bg-cl);
}
/**
  |============================
  | Contatcs
  |============================
*/
.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  color: var(--grey-cl);
}

.contacts-uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.contacts-schedule {
  color: var(--grey-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer-link {
  display: inline-block;
  padding-top: 56px;
  padding-bottom: 56px;
}
