:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-12: rgba(157, 164, 189, 0.12);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;
  --light-bg-cl: #f7f7f7;

  /* Others */
  --border-light-cl: #ffffff;
  --btn-radius: 25px;

  /* Grid */
  --indent: 30px;
  --items: 3;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* reset end */

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* [class*='-container'] {
  display: flex;
} */

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}

.undertitle {
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.btn {
  max-width: 180px;
  min-width: 160px;
  min-height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

.btn-theme-dark:hover,
.btn-theme-dark:focus {
  background-color: var(--accent-bg-cl);
}

/**
  |============================
  | Card-set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Header
  |============================
*/
.header {
  background-color: var(--dark-bg-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 70px;
}

.header-nav-link,
.header-contact {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}

.header-group {
  display: flex;
  align-items: center;
  gap: 40px;

  margin-left: auto;
}

/**
  |============================
  | Hero
  |============================
*/
.hero-container {
  display: flex;
}

.hero-media-list {
  flex-basis: 100px;
}

.hero-right-side {
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images/hero/hero-bg.jpg);
}

.hero-undertitle {
  width: 360px;
}

.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.slider-list {
  display: none;
}

.slider-btn {
  min-width: 68px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-light-cl);
  cursor: pointer;
}

.slider-btn.disabled {
  color: var(--grey-cl-60);
  border-color: var(--grey-cl-60);
}

.slider-item:first-child .slider-btn {
  text-align: left;
}

.slider-item:last-child .slider-btn {
  text-align: right;
}

/**
  |============================
  | About
  |============================
*/
.about-container {
  display: flex;
  gap: 64px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-rigth-side {
  width: 500px;
}

.about-undertitle {
  margin-bottom: 20px;
}

.about-desc {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}

/**
  |============================
  | Price
  |============================
*/
.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-block {
  display: flex;
  margin-bottom: 50px;

  /* background-image: linear-gradient(to left, #dd15a1 0%, rgba(23, 26, 36, 0.2) 100%),
    linear-gradient(to left, #0c33d0 0%, rgba(9, 11, 19, 0.2) 100%);

  background-position: left top, right top;

  background-size: 585px 200px, 585px 100px; */
}

.price-list {
  flex-basis: 50%;
  padding: 30px 40px;
}

.price-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  color: var(--grey-cl);

  display: flex;
  align-items: baseline;
  gap: 6px;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-line {
  flex-grow: 1;

  height: 1px;
  background-color: var(--grey-cl-12);
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Benefits
  |============================
*/
.benefits-container {
  display: flex;
}

.benefits-left-side {
  flex-basis: 50%;
}

.benefits-list {
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.benefits-item {
  flex-basis: 170px;
  min-height: 133px;
  padding: 20px;

  background: var(--light-bg-cl);
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}

.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}

.benefits-right-side {
  width: 500px;
}

/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: #f7f7f7;
}

.team-title {
  margin-bottom: 44px;
}

.team-wrap {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  /* outline: transparent; */

  color: var(--main-txt-cl);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-txt-cl);
}

.socials-icon {
  fill: currentColor;
}

/* Зміна кольору svg через стан ховеру/фокусу для посилання */
/* .socials-icon {
  fill: var(--main-txt-cl);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-txt-cl);
} */

/**
  |============================
  | Gallery
  |============================
*/
.gallery-list {
  --items: 4;
}

.gallery-uppertitle {
  margin-bottom: 44px;
}
/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);

  background-image: url(../images/contatcs/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: top 0 left calc(50% + 327px); */
  background-position: center right;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
}

.contacts {
  flex-basis: 570px;
  padding-left: 115px;
}

/**
  |============================
  | Contatcs
  |============================
*/
.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-cl);
}

.contacts-item:first-child .contacts-icon {
  margin-top: -30px;
}
.contacts-icon {
  stroke: var(--grey-cl);
  fill: none;
}

.contacts-uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.contacts-schedule {
  color: var(--grey-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  margin-right: auto;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer-link {
  display: inline-block;
  padding-top: 56px;
  padding-bottom: 56px;
}
