body {
  width: 100vw;
  height: 300vh;
  padding: 100px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.box {
  margin: 0 auto;
  width: 900px;
  height: 600px;
  /* outline: 1px solid red; */

  padding: 40px;
  /* border: 20px dashed red; */
  color: transparent;

  background-color: lightblue;
  /* background-image: url(./line.png), url(./polygon-10.png), url(./polygon-4.png),
    url(./bg-image.jpeg); */
  /* background-image: url(./parallax.jpg); */

  background-repeat: no-repeat;

  /* Позиція зі зміщенням */
  /* background-position: top 140px left calc(50% + 150px); */

  /* background-position: top left, bottom right, center; */

  /* background-size: contain; */
  /* background-size: 190px 88px, 172px 174px, 45px 47px, 640px 480px; */
  /* background-attachment: fixed; */
  /* background-clip: text; */

  /* background-image: url(./pattern-1.webp); */
  /* background-size: 200px 100px; */
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
}

/* gradient */

.box {
  /* background-image: linear-gradient(to right, rgba(196, 23, 23, 0.529), rgba(33, 112, 217, 0.8)),
    url(./bg-image.jpeg); */

  background-image: linear-gradient(45deg, red 100px, green 100px, green 200px, blue);
  /* background-image: radial-gradient(); */
  background-size: cover;

  width: 400px;
  height: 200px;

  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4), 8px 8px 10px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.2);
}

.transparent-text {
  margin: 0;

  font-size: 30em;
  line-height: 1;
  font-weight: 700;
  text-align: center;

  color: transparent;

  /* Встановлюємо фонове зобреження */
  background-image: url(./text-bg.jpg);
  background-position: center;

  /*
  встановлюємо для текстового елемента
  правило заповнення фоновим зображення
  */
  -webkit-background-clip: text;
  background-clip: text;
}

.clip-text {
  font-size: 15em;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.1em;

  color: transparent;

  background-image: url(./candy.jpg);
  background-position: center;
  background-attachment: fixed;

  -webkit-background-clip: text;
  background-clip: text;
}

/* li::marker {
  color: red;
} */

ul {
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  gap: 10px;
}

li::before {
  content: '\2192';
  display: inline-block;
  font-size: 2em;
  color: teal;
}

li:hover::after {
  content: attr(data-sale);
  display: inline-block;
  /* width: 20px;
  height: 20px; */

  /* border-radius: 50%;
  border: 2px solid tomato; */
  /* font-size: 2em; */
  color: teal;
}
