.booking {
  @include mq(mob-only) {
    @include section;
  }
}

.booking-form-group {
  margin-bottom: 44px;

  @include mq(tab) {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.booking-form-field {
  position: relative;
  display: block;

  &:first-child {
    @include mq(mob-only) {
      margin-bottom: 44px;
    }

    @include mq(tab) {
      width: 270px;
    }
  }

  &:last-child {
    flex-basis: 260px;
  }
}

.info-icons {
  position: absolute;
  bottom: 4px;
  right: 0;
}
