@import './decimals';

@mixin section($p-top: 130px, $p-bottom: 130px) {
  padding-top: $p-top;
  padding-bottom: $p-bottom;
}

@mixin fonts($fs, $lh, $fw: false, $ls: null) {
  @if ($fw) {
    font-weight: $fw;
  }
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}
