.contatcs-group {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  // background-image: url(../images/contatcs/contacts-bg.png);
}

.contacts-container {
  @include mq(desk) {
    display: flex;
    justify-content: space-between;
  }
}
